<h1>All Contacts</h1>

<ul>
  <li><a style="color:rgb(204, 0, 102); font-weight: bold;" href = "/contacts/new">Add a contact</a></li>

  <% @contacts.each do |contact| %>
    <li><a href= "/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>
  <% end %>
</ul>