<h1>Welcome to <%= @crm_app_name %></h1>
<p style="font-weight:bold; font-size:20px;"> Main menu</p>
<ul>
  <li><a style="color:rgb(204, 0, 102); font-weight: bold;" href="/contacts">View all contacts</a></li>
  <li><a style="color:rgb(204, 0, 102); font-weight: bold;" href = "/contacts/new">Add a contact</a></li>
</ul>




