<!DOCTYPE html>
<html>
  <head>
 <title>CRM app</title>
 <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<nav> <li ><a style="color:rgb(51, 51, 255); font-weight: bold" href="/">Home</a></li></nav>
<body>
	<div id="content">
		
		<%= yield %>
	</div>
</body>
</html>