<a style="color:rgb(204, 0, 102); font-weight: bold;" href = "/contacts">Back to all Contacts</a>

<h1>Create new Contact</h1>

<form action="/contacts" method="post" class="edit-contact">
	<%= erb :form %>
</form>
